@import 'bourbon/bourbon';
@import 'sass/variables-functions';
@import 'sass/fonts';
@import 'sass/base-styles';
@import 'sass/logo'; //important to have logo before other elements; vars here referenced elsewhere
@import 'sass/header';
@import 'sass/jumbotron';
@import 'sass/grid-4';
@import 'sass/code-highlight';
//mobile overrides at bottom


//LANDING PAGE STRUCTURE
.landing-blog {
  // max-width: 50em;
  // padding-top: 2em;
  // text-align: left;
}
.posts, .post {
  // padding-top: 2em;
  max-width: 50em;
  width: 95%;
  margin: 0 auto;
  display: block;
  h3 a{
    margin-left: -5px;
  }
}
section {
  width: 80%;
  max-width: 1200px;
  display: block;
  margin: 0 auto;
  // padding: 2em 0;
  padding: 2em;
  text-align: left;
}
.about p {
  // max-width: 50em;
  max-width: 800px;
  display: block;
  margin: 0 auto;
}


.experiments {
  text-align: center;
  h3 {
    clear: both;
    padding-top: 20px;
  }
}
.pen {
  display: table;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  // not min-height because of bug in FF
  height: 300px;
  text-decoration: none;
  vertical-align: top;
  margin: 20px 0;
  border-bottom: none;
  position: relative;
  z-index: 1;
  &:visited {
    color: inherit;
  }
  h1 {
    // z-index: 3;
    // position: relative;
    cursor: pointer;
  }
  &:hover {
    text-decoration: none;
  }
  &:hover h1 {
    background-color: black;
    color: $whitesmoke;
    text-shadow: none;
  }
}
.tint {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: #fff;
    background-color: #FAEBD7;
    opacity: .2;
    z-index: 2;
    display: inline;
    transition: all .4s;
  }
.overlay-wrapper, .overlay {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    cursor: default;
}
.overlay {
    display: inline;
    padding: .2em;
    line-height: 150%;
    z-index: 3;
    position: relative;
    // text-shadow: 0px 0px 100px $whitesmoke; 
}
.pen.smiley-guy {
  background-image: url('../assets/img/mickey-mouse-old-free-757823.jpg');
  background-position: center top;
}
.pen.shooting-gallery {
  background-image: url('../assets/img/kids-guns_wide-2000.jpg');
}
.pen.rotating-nav {
  background-image: url('../assets/img/johnsons-map-of-NYC-1866-2000.jpg');
}







//POSTS STYLES
.hero {
  // width: 100%;
  // height: 50%;
  // background-position: center center;
  // background-size: cover;
  // position: relative;
  // display: table;
  // margin-bottom: 2em;
  // z-index: 1;
  display: table;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  // not min-height because of bug in FF
  height: 300px;
  text-decoration: none;
  vertical-align: top;
  margin: 20px 0;
  border-bottom: none;
  position: relative;
  z-index: 1;
}

//.post styles are with .posts
.post {
  text-align: left;
  margin-bottom: 80px;
}
.post-info {
  color: #aaa;
  font-size: 1em;
  font-family: Monaco, "Courier New", monospace;
}
.tweet-link {
  float: right;
  &:last-of-type {
    margin-bottom: 40px;
  }
}
//post code
.highlighttable {
  width: 100%;
  background-color: #333;
  .linenos {
    max-width: 25px;
    color: #fff;
    padding: 5px;
  }
}
//making disqus grayscale
// .post iframe {
//   filter: url("data:image/svg+xml;utf8,<svg%20xmlns='http://www.w3.org/2000/svg'><filter%…200.3333%200.3333%200%200%200%200%200%201%200'/></filter></svg>#grayscale");
//   filter: grayscale(100%);
//   -webkit-filter: grayscale(100%);
//   -moz-filter: grayscale(100%);
//   -ms-filter: grayscale(100%);
//   -o-filter: grayscale(100%);
//   filter: gray;
// }



//FOOTER STYLES
footer {
  clear: both;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
  section {
    padding-bottom: 0;
  }
  h2 {
    border-bottom: none;
  }
  a {
    display: inline-block;
    // margin-right: 10%;
    color: #666;
    text-decoration: none;
    &:visited {
      color: #666;
    }
    img {
      max-width: 150px;
      max-height: 100px;
    }
    p {
      opacity: 0;
      transition: all .2s;
      display: block;
      text-align: center;
      margin: 0;
    }
    &:hover {
      text-decoration: none;
    }
    &:hover p {
      opacity: 1;
      transition: all .2s;
    }
  }
}

//convert this to an all purpose centering class maybe?
.footer-menu {
  display: block;
  margin: 0 auto;
  width: 80%;
  text-align: justify;
  &:after{
    content: '';
    display: inline-block;
    width: 100%;
  }
}





@import 'sass/mobile';