@import url(http://fonts.googleapis.com/css?family=Old+Standard+TT:400,400italic,700);
@font-face {
  font-family: 'bodonitown';
  src: url("../assets/fonts/Bodonitown-webfont.eot");
  src: url("../assets/fonts/Bodonitown-webfont.eot?iefix") format("eot"), url("../assets/fonts/Bodonitown-webfont.woff") format("woff"), url("../assets/fonts/Bodonitown-webfont.ttf") format("truetype"), url("../assets/fonts/Bodonitown-webfont.svg#webfont") format("svg"); }

@font-face {
  font-family: 'Gotham';
  src: url("../assets/fonts/Gotham-Book.otf") format("opentype");
  font-weight: 300, 400, normal;
  font-style: normal; }

@font-face {
  font-family: 'Gotham';
  src: url("../assets/fonts/Gotham-BookItalic.otf") format("opentype");
  font-weight: 300, 400, normal;
  font-style: italic; }

@font-face {
  font-family: 'Gotham';
  src: url("../assets/fonts/Gotham-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Gotham';
  src: url("../assets/fonts/GothamBoldItalic.otf") format("opentype");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'deming';
  src: url("../assets/fonts/Deming EP.ttf") format("truetype"); }

@font-face {
  font-family: 'Courier New';
  src: url("../assets/fonts/Courier New.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Courier New';
  src: url("../assets/fonts/Courier New Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Courier New';
  src: url("../assets/fonts/Courier New Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Courier New';
  src: url("../assets/fonts/Courier New Bold Italic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }

* {
  box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  font-size: 16px;
  background-color: #F5F5F5;
  color: #000; }

h1 {
  font-size: 4em;
  font-family: "Gotham", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase; }

h2 {
  font-size: 2.4em;
  font-family: "Gotham", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1em;
  width: auto;
  display: block;
  border-bottom: 2px solid #ccc;
  padding-bottom: 5px;
  color: #ccc;
  text-align: right;
  font-weight: 400;
  cursor: default; }

h3 {
  font-size: 1.6em;
  font-family: "Gotham", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase; }

a {
  text-decoration: none;
  font-family: "Courier New", courier, monaco, monospace;
  color: #000; }
  a:hover {
    text-decoration: none; }
  a:visited {
    color: inherit; }

h1 a, h2 a, h3 a, h4 a {
  text-decoration: none;
  color: #000;
  padding: 5px;
  border: none;
  font-family: "Gotham", "Helvetica Neue", Helvetica, Arial, sans-serif; }
  h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover {
    background-color: #000;
    color: #fff;
    text-decoration: none; }

p {
  font-family: "Courier New", courier, monaco, monospace;
  letter-spacing: 1px;
  font-size: 1.2em;
  line-height: 1.4em; }
  p a {
    border-bottom: 1px dashed #999; }
    p a:hover {
      border-bottom: 1px solid #000; }

blockquote {
  display: block;
  padding: 20px;
  margin: 10px 0;
  border-top: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  font-family: "Gotham", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.6em;
  font-style: italic;
  text-transform: uppercase;
  color: #999; }
  blockquote .attrib {
    display: block;
    width: 100%;
    text-align: right;
    color: #ccc;
    margin-top: 20px; }

hr {
  border: 1px dashed #ccc;
  margin: 1em auto; }

.logo {
  width: 200px;
  height: 50px;
  margin: 0;
  line-height: 0;
  display: inline-block;
  vertical-align: middle; }
  .logo .e {
    width: 40%;
    height: 20%;
    background-color: black;
    position: relative;
    display: inline-block;
    margin-right: 5%; }
  .logo .e:before {
    content: '';
    background-color: black;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 160%; }
  .logo .e:after {
    content: '';
    background-color: black;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 320%; }
  .logo .f {
    width: 40%;
    height: 20%;
    background-color: black;
    position: relative;
    display: inline-block;
    margin-right: 0px; }
  .logo .f:before {
    content: '';
    background-color: black;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 160%; }

.logo-link {
  display: inline-block;
  text-decoration: none; }

header {
  padding: 20px;
  text-align: left;
  background-color: whitesmoke; }

nav {
  display: inline-block;
  margin-left: 5%; }
  nav a {
    font-family: "Gotham", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.4em;
    font-weight: bold;
    letter-spacing: 2px;
    width: auto;
    display: inline-block;
    padding: 0 10px;
    line-height: 50px;
    color: #000;
    text-transform: uppercase;
    text-decoration: none; }
    nav a:hover {
      background-color: #000;
      color: #fff;
      text-decoration: none; }

.jumbotron {
  width: 100%;
  height: 100%;
  background-image: url("/assets/img/USS_Macon_over_Manhattan.jpg");
  background-size: cover;
  position: relative; }
  .jumbotron .logo {
    width: 600px;
    height: 150px;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; }
    .jumbotron .logo .f:after {
      content: 'front end / ux';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      font-family: "Gotham", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 1.7em;
      font-weight: bold;
      text-transform: uppercase;
      top: 376%; }
    .jumbotron .logo h1 {
      text-shadow: -2px 2px 4px rgba(0, 0, 0, 0.5);
      margin-top: 150px; }

.grid-4 {
  text-align: center; }
  .grid-4 a {
    display: inline-block;
    width: 20%;
    margin-right: 20px;
    height: 200px;
    text-align: center;
    vertical-align: top;
    position: relative;
    margin-bottom: 10px; }
    .grid-4 a:nth-child(4) {
      margin-right: 0; }
    .grid-4 a:nth-child(8) {
      margin-right: 0; }
    .grid-4 a:nth-child(12) {
      margin-right: 0; }
    .grid-4 a:last-child {
      margin-right: 0; }
    .grid-4 a img {
      width: 100%; }
    .grid-4 a span {
      opacity: 0;
      display: block;
      transition: all .2s; }
    .grid-4 a:hover span {
      opacity: 1;
      transition: all .2s; }
  .grid-4 .klare img {
    width: 80%;
    padding-bottom: 20%; }
  .grid-4 .ross img {
    width: 25%;
    margin-left: 4%;
    margin-top: 10%; }
  .grid-4 .ross span {
    margin-top: 20%; }
  .grid-4 .geoff img {
    margin-top: 25%;
    margin-bottom: 30%; }
  .grid-4 .fletcher span, .grid-4 .matt span {
    margin-top: 5%; }
  .grid-4 .brian img {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH"; }
  .grid-4 .david img {
    margin-top: 10%; }
  .grid-4 .david span {
    margin-top: 23%; }

@media screen and (max-width: 400px) {
  .grid-4 {
    text-align: center; }
    .grid-4 a {
      display: block;
      width: 80%;
      margin: 0 auto;
      margin-bottom: 40px; }
      .grid-4 a span {
        margin-top: -20%;
        opacity: 1; }
      .grid-4 a:nth-child(4) {
        margin-right: auto; }
      .grid-4 a:nth-child(8) {
        margin-right: auto; }
      .grid-4 a:nth-child(12) {
        margin-right: auto; }
      .grid-4 a:last-child {
        margin-right: auto; }
    .grid-4 .jesse, .grid-4 .fletcher, .grid-4 .matt, .grid-4 .chris, .grid-4 .kate, .grid-4 .brian, .grid-4 .david, .grid-4 .dad, .grid-4 .mom {
      margin-bottom: 100px; }
    .grid-4 .jesse span {
      margin-top: 0; }
    .grid-4 .chris span {
      margin-top: -15%; }
    .grid-4 .kate span {
      margin-top: -5%; }
    .grid-4 .dad span {
      margin-top: 0; }
    .grid-4 .mom span {
      margin-top: -10%; }
    .grid-4 .fletcher {
      margin-bottom: 120px; } }
.highlight .hll {
  background-color: #49483e; }

.highlight .c {
  color: #75715e; }

/* Comment */
.highlight .err {
  color: #960050;
  background-color: #1e0010; }

/* Error */
.highlight .k {
  color: #66d9ef; }

/* Keyword */
.highlight .l {
  color: #ae81ff; }

/* Literal */
.highlight .n {
  color: #f8f8f2; }

/* Name */
.highlight .o {
  color: #f92672; }

/* Operator */
.highlight .p {
  color: #f8f8f2; }

/* Punctuation */
.highlight .cm {
  color: #75715e; }

/* Comment.Multiline */
.highlight .cp {
  color: #75715e; }

/* Comment.Preproc */
.highlight .c1 {
  color: #75715e; }

/* Comment.Single */
.highlight .cs {
  color: #75715e; }

/* Comment.Special */
.highlight .ge {
  font-style: italic; }

/* Generic.Emph */
.highlight .gs {
  font-weight: bold; }

/* Generic.Strong */
.highlight .kc {
  color: #66d9ef; }

/* Keyword.Constant */
.highlight .kd {
  color: #66d9ef; }

/* Keyword.Declaration */
.highlight .kn {
  color: #f92672; }

/* Keyword.Namespace */
.highlight .kp {
  color: #66d9ef; }

/* Keyword.Pseudo */
.highlight .kr {
  color: #66d9ef; }

/* Keyword.Reserved */
.highlight .kt {
  color: #66d9ef; }

/* Keyword.Type */
.highlight .ld {
  color: #e6db74; }

/* Literal.Date */
.highlight .m {
  color: #ae81ff; }

/* Literal.Number */
.highlight .s {
  color: #e6db74; }

/* Literal.String */
.highlight .na {
  color: #a6e22e; }

/* Name.Attribute */
.highlight .nb {
  color: #f8f8f2; }

/* Name.Builtin */
.highlight .nc {
  color: #a6e22e; }

/* Name.Class */
.highlight .no {
  color: #66d9ef; }

/* Name.Constant */
.highlight .nd {
  color: #a6e22e; }

/* Name.Decorator */
.highlight .ni {
  color: #f8f8f2; }

/* Name.Entity */
.highlight .ne {
  color: #a6e22e; }

/* Name.Exception */
.highlight .nf {
  color: #a6e22e; }

/* Name.Function */
.highlight .nl {
  color: #f8f8f2; }

/* Name.Label */
.highlight .nn {
  color: #f8f8f2; }

/* Name.Namespace */
.highlight .nx {
  color: #a6e22e; }

/* Name.Other */
.highlight .py {
  color: #f8f8f2; }

/* Name.Property */
.highlight .nt {
  color: #f92672; }

/* Name.Tag */
.highlight .nv {
  color: #f8f8f2; }

/* Name.Variable */
.highlight .ow {
  color: #f92672; }

/* Operator.Word */
.highlight .w {
  color: #f8f8f2; }

/* Text.Whitespace */
.highlight .mf {
  color: #ae81ff; }

/* Literal.Number.Float */
.highlight .mh {
  color: #ae81ff; }

/* Literal.Number.Hex */
.highlight .mi {
  color: #ae81ff; }

/* Literal.Number.Integer */
.highlight .mo {
  color: #ae81ff; }

/* Literal.Number.Oct */
.highlight .sb {
  color: #e6db74; }

/* Literal.String.Backtick */
.highlight .sc {
  color: #e6db74; }

/* Literal.String.Char */
.highlight .sd {
  color: #e6db74; }

/* Literal.String.Doc */
.highlight .s2 {
  color: #e6db74; }

/* Literal.String.Double */
.highlight .se {
  color: #ae81ff; }

/* Literal.String.Escape */
.highlight .sh {
  color: #e6db74; }

/* Literal.String.Heredoc */
.highlight .si {
  color: #e6db74; }

/* Literal.String.Interpol */
.highlight .sx {
  color: #e6db74; }

/* Literal.String.Other */
.highlight .sr {
  color: #e6db74; }

/* Literal.String.Regex */
.highlight .s1 {
  color: #e6db74; }

/* Literal.String.Single */
.highlight .ss {
  color: #e6db74; }

/* Literal.String.Symbol */
.highlight .bp {
  color: #f8f8f2; }

/* Name.Builtin.Pseudo */
.highlight .vc {
  color: #f8f8f2; }

/* Name.Variable.Class */
.highlight .vg {
  color: #f8f8f2; }

/* Name.Variable.Global */
.highlight .vi {
  color: #f8f8f2; }

/* Name.Variable.Instance */
.highlight .il {
  color: #ae81ff; }

/* Literal.Number.Integer.Long */
/* Generic Heading & Diff Header */
.highlight .gu {
  color: #75715e; }

/* Generic.Subheading & Diff Unified/Comment? */
.highlight .gd {
  color: #f92672; }

/* Generic.Deleted & Diff Deleted */
.highlight .gi {
  color: #a6e22e; }

/* Generic.Inserted & Diff Inserted */
.posts, .post {
  max-width: 50em;
  width: 95%;
  margin: 0 auto;
  display: block; }
  .posts h3 a, .post h3 a {
    margin-left: -5px; }

section {
  width: 80%;
  max-width: 1200px;
  display: block;
  margin: 0 auto;
  padding: 2em;
  text-align: left; }

.about p {
  max-width: 800px;
  display: block;
  margin: 0 auto; }

.experiments {
  text-align: center; }
  .experiments h3 {
    clear: both;
    padding-top: 20px; }

.pen {
  display: table;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 300px;
  text-decoration: none;
  vertical-align: top;
  margin: 20px 0;
  border-bottom: none;
  position: relative;
  z-index: 1; }
  .pen:visited {
    color: inherit; }
  .pen h1 {
    cursor: pointer; }
  .pen:hover {
    text-decoration: none; }
  .pen:hover h1 {
    background-color: black;
    color: whitesmoke;
    text-shadow: none; }

.tint {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  background-color: #fff;
  background-color: #FAEBD7;
  opacity: .2;
  z-index: 2;
  display: inline;
  transition: all .4s; }

.overlay-wrapper, .overlay {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  cursor: default; }

.overlay {
  display: inline;
  padding: .2em;
  line-height: 150%;
  z-index: 3;
  position: relative; }

.pen.smiley-guy {
  background-image: url("../assets/img/mickey-mouse-old-free-757823.jpg");
  background-position: center top; }

.pen.shooting-gallery {
  background-image: url("../assets/img/kids-guns_wide-2000.jpg"); }

.pen.rotating-nav {
  background-image: url("../assets/img/johnsons-map-of-NYC-1866-2000.jpg"); }

.hero {
  display: table;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 300px;
  text-decoration: none;
  vertical-align: top;
  margin: 20px 0;
  border-bottom: none;
  position: relative;
  z-index: 1; }

.post {
  text-align: left;
  margin-bottom: 80px; }

.post-info {
  color: #aaa;
  font-size: 1em;
  font-family: Monaco, "Courier New", monospace; }

.tweet-link {
  float: right; }
  .tweet-link:last-of-type {
    margin-bottom: 40px; }

.highlighttable {
  width: 100%;
  background-color: #333;
  display: block;
  overflow: scroll; }
  .highlighttable .linenos {
    max-width: 25px;
    color: #fff;
    padding: 5px; }

footer {
  clear: both;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden; }
  footer section {
    padding-bottom: 0; }
  footer h2 {
    border-bottom: none; }
  footer a {
    display: inline-block;
    color: #666;
    text-decoration: none; }
    footer a:visited {
      color: #666; }
    footer a img {
      max-width: 150px;
      max-height: 100px; }
    footer a p {
      opacity: 0;
      transition: all .2s;
      display: block;
      text-align: center;
      margin: 0; }
    footer a:hover {
      text-decoration: none; }
    footer a:hover p {
      opacity: 1;
      transition: all .2s; }

.footer-menu {
  display: block;
  margin: 0 auto;
  width: 80%;
  text-align: justify; }
  .footer-menu:after {
    content: '';
    display: inline-block;
    width: 100%; }

@media screen and (max-width: 768px) {
  h3 {
    font-size: 1.4em;
    margin-top: 0; }

  nav {
    margin-left: 0; }

  section {
    width: 90%;
    padding-left: 0;
    padding-right: 0; }

  .jumbotron {
    height: 80%; }

  .pen {
    display: table;
    width: 100%;
    background-size: cover;
    min-height: auto;
    margin: 0 auto;
    margin-bottom: 20px; }

  .pen.shooting-gallery h3 {
    margin-top: 0; } }
@media screen and (max-width: 600px) {
  body {
    font-size: 14px; }

  header {
    padding: 10px; }
    header .logo {
      width: 50%;
      height: 35px;
      vertical-align: top; }

  nav {
    width: 48%;
    margin: 0;
    text-align: right;
    margin-top: -.6em; }
    nav a {
      font-size: 1.2em;
      margin-left: -5px;
      padding: 0 5px;
      display: block;
      line-height: 2em; }

  .jumbotron {
    height: 50%; }
    .jumbotron .logo {
      width: 300px;
      height: 75px; }
      .jumbotron .logo .f:after {
        font-size: .9em;
        text-shadow: 0px 0px 25px white; }

  .overlay {
    font-size: 3em;
    line-height: 1.4em; }

  .post {
    width: 90%; }

  footer h2 {
    text-align: center; }
  footer .footer-menu {
    width: 100%; } }
