---
layout: landing
title: EFCOM
---
<section class="landing-blog">
  <h2>Writing</h2>
  <ul class="posts">

    {% for post in site.posts limit:1 %}
      <!-- <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}{{post.content | truncatewords: 100 }}</a></li> -->
      <li><h3><a href="{{ post.url }}">{{ post.title }}</a></h3><p>{{post.content | truncatewords: 100 }}</p></li>
    {% endfor %}
    <hr>
    {% for post in site.posts limit:4 offset:1 %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}{{post.content | truncatewords: 20 }}</a></li>
    {% endfor %}
  </ul>
</section>