<footer>
  <section id="contact">
    <h2>Contact</h2>
    <div class="footer-menu">
      <a class="twitter" href="http://twitter.com/elifitch"><img src="/assets/img/bird-mini.png" /><p>Twitter.</p></a>
      <a class="codepen" href="http://codepen.io/EliFitch/"><img src="/assets/img/comp-wiring-bw.png" /><p>Codepen.</p></a>
      <a class="github" href="https://github.com/elifitch"><img src="/assets/img/octopussy-bw.png" /><p>Github.</p></a>
      <a class="email" href="mailto:hullo@elifitch.com"><img src="/assets/img/postmark-bw.png" /><p>Email.</p></a>
    </div>
  </section>
</footer>
<!--scripts-->
<script type="text/javascript">
  $(document).ready(function(){
    $('header').localScroll();
  })
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42380110-1', 'elifitch.com');
  ga('send', 'pageview');

</script>