<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <!-- <meta name="viewport" content="width=device-width"> -->
        <meta name="viewport" content="width=device-width; initial-scale=.5; maximum-scale=.5; minimum-scale=.5;">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/styles.css">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script type="text/javascript">
          if (typeof jQuery == 'undefined') {
              document.write(unescape("%3Cscript src='/js/jquery-1.10.2.min.js' type='text/javascript'%3E%3C/script%3E"));
          }
        </script>
        <script src="../js/jquery.localscroll-1.2.7-min.js"></script>
        <script src="../js/jquery.scrollTo-1.4.3.1-min.js"></script>

    </head>
    <body>
      {% include header.html %}
      <div class="jumbotron">
        <div class="logo">
          <div class="e"></div>
          <div class="f"></div>
          <!-- <h1>Front End / UX</h1> -->
        </div>
      </div>
      <section class="about">
        <h2>About</h2>
        <p><strong>Eli Fitch</strong> is a front end developer with a passion for creating unique and engaging experiences for users. He proudly lives and works in his hometown of Washington, D.C.</p>
      </section>
          
          {{ content }}

          <section class="experiments clearfix " id="experiments">
            <h2>Experiments</h2>
            <a href="http://codepen.io/EliFitch/pen/waJpo" class="pen shooting-gallery">
              <div class="tint"></div>
              <div class="overlay-wrapper"><h1 class="overlay">CSS Shooting Gallery</h1></div>
            </a>
            <a href="http://codepen.io/EliFitch/pen/zGqHK" class="pen rotating-nav">
              <div class="tint"></div>
              <div class="overlay-wrapper"><h1 class="overlay">Rotating CSS3D Nav</h1></div>
            </a>
            <h3>More coming soon...</h3>
          </section>
          {% include footer.html %}
          
          <!--<script type="text/javascript">
            $(".shooting-gallery").click(function(){
              $(this).html("");
            });

          </script>-->
          <!--<script type="text/javascript">
          $('a[href="#exp"').click(function(e){
            e.preventDefautlt();
            $.scrollTo('#exp');
          });
        </script>-->
        <script type="text/javascript">
          $(document).ready(function(){
            $('header').localScroll();
          })
        </script>
        <script>
        console.log('script runs');
        $(document).on('resize', function(){
          console.log('running');
          $('.overlay').css('line height', $(this).parent().css('line height'));
        });
        </script>
          
    </body>
</html>




