<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <!-- <meta name="viewport" content="width=device-width"> -->
        <meta name="viewport" content="width=device-width; initial-scale=1; maximum-scale=1; minimum-scale=1;">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/styles.css">
        
        {% include scripts.html %}

    </head>
    <body>
      {% include header.html %}
      <div class="jumbotron">
        <div class="logo">
          <div class="e"></div>
          <div class="f"></div>
          <!-- <h1>Front End / UX</h1> -->
        </div>
      </div>
      <section class="about">
        <h2>About</h2>
        <p><strong>Eli Fitch</strong> is a front end developer with a passion for creating unique and engaging experiences for users. He proudly lives and works in his hometown of Washington, D.C.</p>
      </section>
          <!--index.html-->
          {{ content }}

          <section class="experiments clearfix " id="experiments">
            <h2>Experiments</h2>
            <a href="http://codepen.io/EliFitch/details/qKGDJ" class="pen smiley-guy" data-bottom-bottom="background-position: 0px -150px" data-top-top="background-position: 0px -200px">
              <div class="tint"></div>
              <div class="overlay-wrapper"><h1 class="overlay">Animated Smiley Guy</h1></div>
            </a>
            <a href="http://codepen.io/EliFitch/details/waJpo" class="pen shooting-gallery" data-bottom-bottom="background-position: 0px -150px" data-top-top="background-position: 0px -200px">
              <div class="tint"></div>
              <div class="overlay-wrapper"><h1 class="overlay">CSS Shooting Gallery</h1></div>
            </a>
            <a href="http://codepen.io/EliFitch/details/zGqHK" class="pen rotating-nav" data-bottom-bottom="background-position: 0px -150px" data-top-top="background-position: 0px -200px">
              <div class="tint"></div>
              <div class="overlay-wrapper"><h1 class="overlay">Rotating CSS3D Nav</h1></div>
            </a>
            <h3>More coming soon.</h3>
          </section>

          {% include footer.html %}
          <!--<script src="/js/skrollr.js"></script>
          <script>
            var asdfasdf = skrollr.init({
              forceHeight: false
            });
          </script>-->
    </body>
</html>




