<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <!-- <meta name="viewport" content="width=device-width"> -->
        <meta name="viewport" content="width=device-width; initial-scale=.5; maximum-scale=.5; minimum-scale=.5;">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/styles.css">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script type="text/javascript">
          if (typeof jQuery == 'undefined') {
              document.write(unescape("%3Cscript src='/js/jquery-1.10.2.min.js' type='text/javascript'%3E%3C/script%3E"));
          }
        </script>
        <script src="../js/jquery.localscroll-1.2.7-min.js"></script>
        <script src="../js/jquery.scrollTo-1.4.3.1-min.js"></script>

    </head>
    <body>
      {% include header.html %}
      <div class="hero">
        <div class="logo">
          <div class="e"></div>
          <div class="f"></div>
          <!-- <h1>Front End / UX</h1> -->
        </div>
      </div>
          
          {{ content }}

          <div class="experiments" id="exp">
            <h1>Experiments</h1>
            <a href="http://codepen.io/EliFitch/pen/waJpo" class="pen shooting-gallery">
              <h3>CSS Shooting Gallery</h3>
            </a>
            <a href="http://codepen.io/EliFitch/pen/zGqHK" class="pen rotating-nav">
              <h3>CSS3D Rotating Navigation</h3>
            </a>
            <h3>More coming soon...</h3>
            <!-- <div class="pen shooting-gallery">
              <p data-height='526' data-theme-id='0' data-slug-hash='waJpo' data-default-tab='result' class='codepen'>See the Pen <a href='http://codepen.io/EliFitch/pen/waJpo'>Pure CSS shooting gallery (WIP)</a> by Eli Fitch (<a href='http://codepen.io/EliFitch'>@EliFitch</a>) on <a href='http://codepen.io'>CodePen</a>.</p><script async src='//codepen.io/assets/embed/ei.js'></script>
            </div>
            <div class="pen">
              <p data-height="268" data-theme-id="0" data-slug-hash="kvFAE" data-default-tab="result" class='codepen'>See the Pen <a href='http://codepen.io/EliFitch/pen/kvFAE'>Text masking experiment</a> by Eli Fitch (<a href='http://codepen.io/EliFitch'>@EliFitch</a>) on <a href='http://codepen.io'>CodePen</a>.</p><script async src="//codepen.io/assets/embed/ei.js"></script>
            </div>
            <div class="pen">
              <p data-height="268" data-theme-id="0" data-slug-hash="hjDEe" data-default-tab="result" class='codepen'>See the Pen <a href='http://codepen.io/EliFitch/pen/hjDEe'>Hexagon logo concept</a> by Eli Fitch (<a href='http://codepen.io/EliFitch'>@EliFitch</a>) on <a href='http://codepen.io'>CodePen</a>.</p><script async src="//codepen.io/assets/embed/ei.js"></script>
            </div>
            <div class="pen rotating-nav">
              <p data-height="268" data-theme-id="0" data-slug-hash="zGqHK" data-default-tab="result" class='codepen'>See the Pen <a href='http://codepen.io/EliFitch/pen/zGqHK'>Rotating Nav Concept</a> by Eli Fitch (<a href='http://codepen.io/EliFitch'>@EliFitch</a>) on <a href='http://codepen.io'>CodePen</a>.</p><script async src="//codepen.io/assets/embed/ei.js"></script>
            </div> -->
          </div>
          <div class="footer">
            <div class="contact">
              <p>
                Your Name<br />
                What You Are<br />
                you@example.com
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="https://github.com/yourusername">github.com/yourusername</a><br />
                <a href="https://twitter.com/yourusername">twitter.com/yourusername</a><br />
              </p>
            </div>
          </div>
          
          <!--<script type="text/javascript">
            $(".shooting-gallery").click(function(){
              $(this).html("");
            });

          </script>-->
          <!--<script type="text/javascript">
          $('a[href="#exp"').click(function(e){
            e.preventDefautlt();
            $.scrollTo('#exp');
          });
        </script>-->
        <script type="text/javascript">
          $(document).ready(function(){
            $('header').localScroll();
          })
        </script>
          
    </body>
</html>




