---
layout: default
---
<!--<style>{% include post.css %}</style>-->
<div class="hero" style="background-image:url('../../assets/img/hero/{{page.hero}}'); {{page.hero-adj}}">
	<div class="tint"></div>
	<div class="overlay-wrapper"><h1 class="overlay">{{ page.title }}</h1></div>
	{% if page.subtitle %}
		<!--<hr>
		<h2 class="overlay">{{ page.subtitle}}</h2>-->
	{% endif %}
</div>
<div class="post">
	<span class="post-info">{{ page.date | date_to_string }}</span><!-- <a class="post-info" target="_blank" href="http://twitter.com/home?status={{page.title}} -- by @EliFitch at www.elifitch.com{{page.url}}">Tweet this</a> -->
	<!-- <a class="post-info" href="http://twitter.com/home?status={{page.title}} -- by @EliFitch at www.elifitch.com{{page.url}}">Tweet this</a> -->
	<a class="post-info tweet-link" href="http://twitter.com/home?status={{page.title}} -- by @EliFitch at {{site.url}}{{page.url}}">Tweet this post</a>

	<!-- window.open("http://www.w3schools.com");
	-->
	{{ content }}
	<a class="post-info tweet-link" href="http://twitter.com/home?status={{page.title}} -- by @EliFitch at {{site.url}}{{page.url}}">Tweet this post</a>
	<div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'efcom'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
</div>

    