---
layout: default
---
<!--<style>{% include post.css %}</style>-->
<div class="hero" style="background-image:url('../../assets/img/hero/{{page.hero}}')">
	<div class="overlay-wrapper"><h1 class="overlay">{{ page.title }}</h1></div>
	{% if page.subtitle %}
		<!--<hr>
		<h2 class="overlay">{{ page.subtitle}}</h2>-->
	{% endif %}
</div>
<div class="post">
	<span class="post-info">{{ page.date | date_to_string }}</span><!-- <a class="post-info" target="_blank" href="http://twitter.com/home?status={{page.title}} -- by @EliFitch at www.elifitch.com{{page.url}}">Tweet this</a> -->
	<a class="post-info" href="http://twitter.com/home?status={{page.title}} -- by @EliFitch at www.elifitch.com{{page.url}}">Tweet this</a>

	<!-- window.open("http://www.w3schools.com");
	-->
	{{ content }}
</div>
